html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/colosseum.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

footer {
  padding-bottom: 10px;
  font-size: 20px; }
  footer i {
    margin-left: 20px;
    cursor: pointer; }

div.mainBody {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 100%; }

div.mainScreen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 5%; }
  div.mainScreen h1 {
    color: white;
    font-family: fantasy;
    font-size: 120px;
    margin: 0;
    margin-left: 5%; }
  div.mainScreen ul {
    margin: 0;
    color: white;
    margin-left: auto;
    margin-right: 10%;
    list-style-type: none; }
    div.mainScreen ul li {
      font-size: 34px;
      margin-top: 100px;
      cursor: pointer; }
      div.mainScreen ul li:first-of-type {
        margin-top: 60px; }
      div.mainScreen ul li:hover {
        color: #b778ba; }

footer {
  margin-top: auto;
  color: white;
  width: 100%;
  text-align: center; }

div.body {
  border: 1px solid black;
  width: 80vw;
  height: 70vh;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box; }
  div.body .header {
    height: 10vh;
    box-sizing: border-box;
    padding: 10px 10px 10px 10px;
    text-align: right;
    background-color: #4d4dff; }
    div.body .header p {
      cursor: pointer;
      display: inline;
      color: white; }
  div.body .main {
    height: 60vh; }
    div.body .main .settings div.container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: stretch;
      width: 100%; }
      div.body .main .settings div.container h3 {
        width: 10%;
        font-size: 16px; }
      div.body .main .settings div.container div.options {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center; }
        div.body .main .settings div.container div.options p.option {
          margin-left: 60px;
          cursor: pointer;
          text-align: center;
          box-sizing: border-box;
          padding: 0 15px 3px 15px; }
    div.body .main .startMenu div.playButton {
      cursor: pointer; }
    div.body .main .gameScreen {
      flex-direction: column;
      height: 60vh; }
      div.body .main .gameScreen .gameHeader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid black;
        font-size: 18px;
        flex-grow: 1;
        box-sizing: border-box;
        padding: 0 20px 0 20px; }
        div.body .main .gameScreen .gameHeader .clock {
          font-size: 24px;
          letter-spacing: 4px; }
      div.body .main .gameScreen .gameBody {
        display: flex; }
        div.body .main .gameScreen .gameBody h2 {
          font-weight: normal;
          font-size: 24px; }
        div.body .main .gameScreen .gameBody ul {
          list-style-type: none; }
          div.body .main .gameScreen .gameBody ul li {
            padding: 5px;
            font-size: 18px; }
        div.body .main .gameScreen .gameBody div.principleParts {
          margin-left: 100px; }
        div.body .main .gameScreen .gameBody div.form {
          margin-left: 200px; }
        div.body .main .gameScreen .gameBody div.wrong {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: stretch;
          align-self: center;
          margin-left: auto;
          flex-grow: 1;
          padding: 10%; }
          div.body .main .gameScreen .gameBody div.wrong div {
            background-color: #ff0000;
            opacity: 0.1;
            height: 80px;
            width: 80px;
            border-radius: 100px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center; }
            div.body .main .gameScreen .gameBody div.wrong div span {
              opacity: 1;
              color: black;
              font-size: 30px; }
      div.body .main .gameScreen .gameFooter {
        border-top: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-grow: 2; }
        div.body .main .gameScreen .gameFooter input[type="text"] {
          width: 70%;
          font-size: 16px;
          min-height: 35px;
          box-sizing: border-box; }
        div.body .main .gameScreen .gameFooter input.submit {
          margin-left: 20px;
          background-color: #ccc;
          border: 1px solid #ccc;
          cursor: pointer;
          min-height: 35px;
          box-sizing: border-box;
          padding: 5px 5px 5px 5px; }

.hide {
  display: none; }

p.exit {
  cursor: pointer;
  color: red;
  display: inline; }

/*# sourceMappingURL=main.css.map */
