@import 'partials/variables'

div.body
    border: 1px solid black
    width: 80vw
    height: 70vh
    margin-left: auto
    margin-right: auto
    box-sizing: border-box
    .header
        height: 10%
        padding: 10px
        text-align: right
        background-color: $mainColor
        p
            cursor: pointer
            display: inline
            color: white
    .main
        height: 80%
        .settings
            div.container
                display: flex
                flex-direction: row
                width: 100%
                h3
                    width: 10%
                    font-size: 16px
                div.options
                    display: flex
                    flex-direction: row
                    align-items: center
                    p.option
                        margin-left: 60px
                        cursor: pointer
                        text-align: center
                        box-sizing: border-box
                        padding-bottom: 3px
                        padding-left: 15px
                        padding-right: 15px
            p.exit
                cursor: pointer
                color: red
                display: inline
        .startMenu
            div.playButton
                cursor: pointer
        .gameScreen
            height: 55vh
            .gameHeader
                display: flex
                flex-direction: row
                justify-content: space-between
                height: 10%
                padding: 20px
                border-bottom: 1px solid black
                font-size: 18px
                .clock
                    font-size: 24px
                    letter-spacing: 4px
            .gameBody
                display: flex
                height: 70%
                h2
                    font-weight: normal
                    font-size: 24px
                ul
                    list-style-type: none
                    li
                        padding: 5px
                        font-size: 18px
                div.principleParts
                    margin-left: 100px
                div.form
                    margin-left: 200px
            .gameFooter
                border-top: 1px solid black
                display: flex
                flex-direction: row
                align-items: center
                justify-content: center
                padding-top: 25px
                input[type="text"]
                    width: 70%
                    line-height: 30px
                    font-size: 16px
                div.submit
                    line-height: 30px
                    box-sizing: padding-box
                    margin-left: 20px
                    background-color: #ccc
                    cursor: pointer
                    padding: 3px
.hide
    display: none
