@import 'partials/variables'

html,body
    height: 100%
    margin: 0
    padding: 0

body
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/colosseum.jpg')
    background-size: cover
    background-position: center
    background-repeat: no-repeat
footer
    padding-bottom: 10px
    font-size: 20px
    i
        margin-left: 20px
        cursor: pointer
div.mainBody
    @include fullFlex(column,flex-end,default)
    min-height: 100%
div.mainScreen
    @include fullFlex(row, default, default)
    margin-top: 5%
    h1
        color: white
        font-family: fantasy
        font-size: 120px
        margin: 0
        margin-left: 5%
    ul
        margin: 0
        color: white
        margin-left: auto
        margin-right: 10%
        list-style-type: none
        li
            font-size: 34px
            margin-top: 100px
            cursor: pointer
            &:first-of-type
                margin-top: 60px
            &:hover
                color: lighten($grape, 30%)
footer
    margin-top: auto
    color: white
    width: 100%
    text-align: center

/////////////////////////////////////////////////////////////////
div.body
    border: 1px solid black
    width: 80vw
    height: $gameHeight
    margin-left: auto
    margin-right: auto
    box-sizing: border-box
    .header
        height: $headerHeight
        @include borderBox(10px, 10px, 10px, 10px)
        text-align: right
        background-color: $mainColor
        p
            cursor: pointer
            display: inline
            color: white
    .main
        height: $gameHeight - $headerHeight
        .settings
            div.container
                @include fullFlex(row, default, default)
                width: 100%
                h3
                    width: 10%
                    font-size: 16px
                div.options
                    @include fullFlex(row, default, center)
                    p.option
                        margin-left: 60px
                        cursor: pointer
                        text-align: center
                        @include borderBox(0,15px,3px,15px)
        .startMenu
            div.playButton
                cursor: pointer
        .gameScreen
            flex-direction: column
            height: 60vh
            .gameHeader
                @include fullFlex(row, space-between, center)
                border-bottom: 1px solid black
                font-size: 18px
                flex-grow: 1
                @include borderBox(0, 20px, 0, 20px)
                .clock
                    font-size: 24px
                    letter-spacing: 4px
            .gameBody
                display: flex
                h2
                    font-weight: normal
                    font-size: 24px
                ul
                    list-style-type: none
                    li
                        padding: 5px
                        font-size: 18px
                div.principleParts
                    margin-left: 100px
                div.form
                    margin-left: 200px
                div.wrong
                    @include fullFlex(row, space-around, default)
                    align-self: center
                    margin-left: auto
                    flex-grow: 1
                    padding: 10%
                    div
                        background-color: #ff0000
                        opacity: .1
                        height: 80px
                        width: 80px
                        border-radius: 100px
                        @include fullFlex(row, center, center)
                        span
                            opacity: 1
                            color: black
                            font-size: 30px
            .gameFooter
                border-top: 1px solid black
                @include fullFlex(row, center, center)
                flex-grow: 2
                input[type="text"]
                    width: 70%
                    font-size: 16px
                    min-height: 35px
                    box-sizing: border-box
                input.submit
                    margin-left: 20px
                    background-color: #ccc
                    border: 1px solid #ccc
                    cursor: pointer
                    min-height: 35px
                    @include borderBox(5px, 5px ,5px, 5px)
.hide
    display: none

p.exit
    cursor: pointer
    color: red
    display: inline
